.task-list-section {
  max-width: 800px;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
}

.task-list-item {
  margin: 0.5rem 0;
  padding: 0.5rem;
  list-style-type: none;
  border-bottom: 1px solid black;
}

.task-title {
  font-size: 14px;
  padding-left: 8px;
}

.task-list-item-content-wrapper {
  display: flex;
}

.task-due-date {
  margin-top: 0.25rem;
  font-size: 12px;
}
