<section class="task-list-section">
  <header class="header">
    <h2 class="header__name">Today</h2>
    <button
      class="header__button"
      (click)="onAddTaskClick()"
      aria-label="Add new task"
    >
      <span>+</span> Add Task
    </button>
  </header>
  <div class="tasks">
    @if(tasks.length <= 0) {
    <p class="task-list--empty">Add a task to get started</p>
    }
    <ul class="task-list" cdkDropList (cdkDropListDropped)="onDrop($event)">
      @for(task of tasks; track task.id) {
      <li class="task-list-item" cdkDrag (cdkDragStarted)="onDragStarted()">
        <div class="task-list-item-placeholder" *cdkDragPlaceholder></div>
        <div class="task-list-item__drag-handle">
          <i class="fa-solid fa-grip-vertical"></i>
        </div>
        <div class="task-list-item__content">
          <div class="task-list-item__wrapper">
            <div class="task-list-item__checkbox-wrapper">
              <input
                type="checkbox"
                [id]="'task-' + task.id"
                aria-label="Mark task as complete"
              />
              <div class="task-list-item__details">
                <div class="task-list-item__name">
                  {{ task.name }}
                </div>
                <span class="task-list-item__due-date">
                  {{ task.dueDate }}
                </span>
              </div>
            </div>
          </div>
        </div>
        <button
          class="task-list-item__delete"
          (click)="onDeleteTaskClick(task.id)"
          aria-label="Delete task"
        >
          <i class="fa-solid fa-trash-can fa-lg" style="color: #ef4444"></i>
        </button>
      </li>
      }
    </ul>
  </div>
  <dialog class="task-dialog" #addTaskDialog>
    <div class="task-dialog__inputs">
      <div class="task-dialog__input-group">
        <input
          class="task-dialog__input task-dialog__input--full"
          type="text"
          #taskNameInput
          placeholder="Task name"
          aria-label="Task name"
        />
      </div>
      <div class="task-dialog__input-group">
        <input
          class="task-dialog__input task-dialog__input--date"
          type="date"
          #taskDateInput
          aria-label="Due date"
        />
      </div>
    </div>
    <div class="task-dialog__buttons">
      <button
        class="task-dialog__button task-dialog__button--primary"
        (click)="onSaveTaskClick(taskNameInput.value, taskDateInput.value)"
      >
        Add Task
      </button>
      <button
        class="task-dialog__button task-dialog__button--secondary"
        (click)="onCancelDialogClick()"
      >
        Cancel
      </button>
    </div>
  </dialog>
</section>
