<div class="modal-overlay" (click)="closeModal()">
  <div
    class="modal-content"
    [class.has-close-button]="showCloseButton"
    (click)="$event.stopPropagation()"
  >
    <header class="modal-header">
      <ng-content select="[modal-header]"></ng-content>
      @if (showCloseButton) {
      <button class="close-button" (click)="closeModal()">
        <i class="fa-solid fa-xmark"></i>
      </button>
      }
    </header>
    <div class="modal-body">
      <ng-content select="[modal-body]"></ng-content>
    </div>
  </div>
</div>
