<form [formGroup]="taskForm" (ngSubmit)="submitTask()">
  <div class="task-detail__inputs">
    <div class="task-detail__input-group">
      <input
        class="task-detail__input task-detail__input--full"
        type="text"
        formControlName="name"
        placeholder="Task name"
        aria-label="Task name"
      />
    </div>
    <div class="task-detail__input-group">
      <input
        class="task-detail__input task-detail__input--date"
        type="date"
        formControlName="dueDate"
        aria-label="Due date"
      />
    </div>
  </div>
  <div class="task-detail__buttons">
    <button
      type="submit"
      class="task-detail__button task-detail__button--primary"
    >
      Save Task
    </button>
    <button
      type="button"
      class="task-detail__button task-detail__button--secondary"
      (click)="cancelClick()"
    >
      Cancel
    </button>
  </div>
</form>
