/* Task List Components */
.task-list-item {
  display: flex;
  gap: 8px;
  padding: 0.75rem;
  border-bottom: solid 1px #e5e7eb;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  margin-bottom: 4px;
  border-radius: 6px;
  border: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
}

.task-list-item__drag-handle {
  color: #9ca3af;
  cursor: grab;
  user-select: none;
  font-size: 16px;
  margin-left: -25px;
  opacity: 0;
}

.task-list-item__content {
  flex: 1;
  display: flex;
  align-items: center;
  min-height: 100%;
}

.task-list-item__details {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.task-list-item__name {
  font-size: 14px;
  transition: all 0.2s ease;
}

.task-list-item__due-date {
  margin-top: 0;
  font-size: 12px;
  color: #6b7280;
}

.task-list-item__delete {
  padding: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0;
  border-radius: 6px;
  transition: all 0.2s ease;
}

.task-list-item__delete:hover {
  background-color: #fee2e2;
}

.task-list-item:hover .task-list-item__drag-handle,
.task-list-item:hover .task-list-item__delete {
  opacity: 1;
}

.task-list-item__checkbox-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.task-list-item__checkbox-wrapper input[type="checkbox"] {
  accent-color: #3b82f6;
  cursor: pointer;
}

.task-list-item__checkbox-wrapper
  input[type="checkbox"]:checked
  ~ .task-list-item__details
  .task-list-item__name {
  text-decoration: line-through;
  color: #9ca3af;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin: 0;
  margin-right: 8px;
  accent-color: #3b82f6;
  cursor: pointer;
}

.task-list-item-placeholder {
  background: #ccc;
  border: solid 1px #3b82f6;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
