<section class="task-list-section">
  <header class="header">
    <h2 class="header__name">Today</h2>
    <button
      class="header__button"
      (click)="onAddTaskClick()"
      aria-label="Add new task"
    >
      <span>+</span> Add Task
    </button>
  </header>
  <div class="tasks">
    @if (tasks.length <= 0) {
    <p class="task-list--empty">Add a task to get started</p>
    }
    <ul class="task-list" cdkDropList (cdkDropListDropped)="onDrop($event)">
      @for (task of tasks; track task.id) {
      <app-task
        [task]="task"
        (deleteTask)="handleDeleteTask($event)"
      ></app-task>
      }
    </ul>
  </div>
  @if (showAddTaskModal) {
  <app-modal (close)="onCancelDialogClick()" [showCloseButton]="false">
    <app-task-new
      (handleSaveClick)="onSaveTaskClick($event)"
      (handleCancelClick)="onCancelDialogClick()"
    ></app-task-new>
  </app-modal>
  }
</section>
